<% include ../partials/meta %>

<section>
  <h1>Eddigi ötletek</h1>
  <div>
    <% for (const { urlSlug, summary, _id, rating } of posts) { %>
      <article id="post-<%= urlSlug %>">
        <h1><a href="/post/<%= urlSlug %>"><%= summary %></a></h1>
        <div>
          <form id="like-form" action="/rate-post?id=<%= _id %>&rating=1&redirect" method="post">
            <button>Adom</button>
          </form>
          <form id="dislike-form" action="/rate-post?id=<%= _id %>&rating=-1&redirect" method="post">
            <button>Meh</button>
          </form>
          <span>
            <%=  %>
          </span>
        </div>
      </article>
    <% } %>
  </div>
</section>

<section>
  <h1>Új ötlet javaslása</h1>
  <form id="post-form" action="/post?redirect" method="post">
    <div>
      <label for="summary">Röviden:</label>
      <input id="summary" name="summary" type="text" required maxlength="100">
    </div>
    <div>
      <label for="content">Kifejtés:</label>
      <textarea id="content" name="content" type="text" maxlength="1000"></textarea>
    </div>
    <div>
      <button>Beküldés</button>
    </div>
  </form>
</section>